#background-color{
	background-color: #E6E6FA;
}

.caixa-fantasma{
	width: 10%; 
	height: 50px;
	border:none; 
}

#topo{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-left: 50px;
	align-items: center;

}

#topo span{
	font-size: 18px;
	font-weight: bold;
}

#barra-menu .box{
	width: 16%;
	height: 40px;
	border:1px solid grey;
	border-radius: 18px;
	text-align: center;
	margin-left: 10px;
	padding-top: 3px;
	background-color: lightblue;
}

#barra-menu .box:hover{
	transition: 1.5s;
	background-color: #CECEF6;
}

#barra-menu{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-left: 17%;
}

#barra-lateral-esquerda{
	display: flex;
	flex-direction: column;
	width: 260px;
	margin-top: 80px;
	/*border: 1px solid black;*/

}

#corpo{
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 90%;

}

.titulo-servico{
	width: 250px;
	height: 30px;
	background-color: black;
	color: white;
	border: 1px solid darkgrey;
	text-align: center;
	border-radius: 15px;
	padding-top: 10px;
	margin-top: 2%;
	margin-bottom: 10px;
}

.input-esquerdo{
	border-radius: 5px;
	border: 1px solid darkgrey;
	margin-bottom: 5px;
	margin-left: 8px;
	height: 30px;

}

.botao-esquerdo{
	border-radius: 5px;
	height: 30px;
}



table, td, th {  
	border: 1px solid #848484;
	background-color: white;
	margin-top: 80px;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 15px;
}


.txt3 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;

}

#rodape {
	display: flex;
	margin-top: 5%;
	text-align: center;
	justify-content: space-around;
	align-items: center;
}

.tabela{
	margin-left: 5%;
}


}